.container{
    max-width: 1290px !important;
    margin: 0 auto;
}
.totop{
    position: fixed;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background-color: #000;
    
    border-radius: .2rem;
    z-index: 999;
    bottom: -10px;
    right: 10px;
    opacity: 0;
    transition: $transition;
    a{
        color: #fff;
    }
    &.showUp{
        transition: $transition;
        bottom: 10px;
        right: 10px;
        opacity: 1;
    }
}