@font-face {
  font-family: Merri;
  src: url("../fonts/Merriweather-Regular.ttf"); }
@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Merri'; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

.navbar .navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }
  .navbar .navbar__content .navbar__logo {
    width: 5%;
    transform: scaleX(-1); }
    .navbar .navbar__content .navbar__logo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .navbar .navbar__content .navbar__items .item {
    font-size: 2rem;
    margin-right: 5rem;
    color: #434242;
    font-family: 'Rubik';
    transition: all ease-in-out 0.3s;
    width: 100%; }
    .navbar .navbar__content .navbar__items .item:hover {
      transition: all ease-in-out 0.3s;
      color: #D23369;
      margin-bottom: 2rem; }
    .navbar .navbar__content .navbar__items .item.active {
      color: #D23369; }

@font-face {
  font-family: Merri;
  src: url("../fonts/Merriweather-Regular.ttf"); }
@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Merri'; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8rem 0; }
  .home .home__potrails {
    width: 20%;
    height: 100%;
    position: relative; }
    .home .home__potrails .image {
      width: 100%; }
      .home .home__potrails .image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .home .home__potrails .dots {
      position: absolute;
      bottom: -40px;
      left: -40px;
      z-index: -1; }
      .home .home__potrails .dots .dot__icon {
        color: #D23369;
        opacity: .3;
        font-size: 1rem;
        margin: 1rem; }
    .home .home__potrails .fire {
      position: absolute;
      top: 40%;
      left: -50px;
      color: #D23369;
      font-size: 4rem;
      animation: fire__move 2s infinite forwards; }
    .home .home__potrails .fireworks {
      position: absolute;
      top: 0;
      right: -50%;
      width: 50%; }
      .home .home__potrails .fireworks img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .home .home__potrails .crown {
      position: absolute;
      top: -5%;
      left: 40%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      color: #FFBF00;
      transform: rotate(-10deg); }
    .home .home__potrails .birthday__cake {
      position: absolute;
      bottom: -10px;
      right: -30%;
      width: 50%;
      animation: cake__move 2s forwards infinite;
      transition: all ease-in-out 0.3s; }
      .home .home__potrails .birthday__cake img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .home .home__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5rem; }
    .home .home__content .birthday__title {
      color: #D23369;
      font-size: 3rem; }
    .home .home__content .birthday__content {
      font-size: 8rem;
      color: #000;
      font-weight: 600; }
    .home .home__content .birthday__link {
      display: flex;
      align-items: center; }
      .home .home__content .birthday__link .link__text {
        color: #000;
        font-weight: 600;
        margin-right: 2rem;
        font-size: 1.6rem; }
      .home .home__content .birthday__link .icon {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        color: #D23369;
        transition: all ease-in-out 0.3s;
        position: relative; }
        .home .home__content .birthday__link .icon::before {
          content: "";
          position: absolute;
          top: 0;
          z-index: -1;
          display: block;
          background: #D23369;
          width: 0%;
          height: 100%;
          transition: all ease-in-out 0.3s; }
        .home .home__content .birthday__link .icon:hover {
          transition: all ease-in-out 0.3s;
          color: #fff; }
          .home .home__content .birthday__link .icon:hover::before {
            width: 100%;
            height: 100%; }

@keyframes fire__move {
  0% {
    transform: rotate(-45deg); }
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(-45deg); } }
@keyframes cake__move {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }
@font-face {
  font-family: Merri;
  src: url("../fonts/Merriweather-Regular.ttf"); }
@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Merri'; }

a {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

.details .detail__content {
  padding: 7rem 0; }
  .details .detail__content .detail__item {
    padding: 7rem 0; }
    .details .detail__content .detail__item .detail__date {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      font-size: 2.3rem;
      font-weight: 600;
      font-style: italic;
      margin-bottom: 10rem;
      color: #243763; }
    .details .detail__content .detail__item .detail__item-content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer; }
      .details .detail__content .detail__item .detail__item-content.switch__item {
        flex-direction: row-reverse; }
      .details .detail__content .detail__item .detail__item-content.center {
        text-align: center; }
      .details .detail__content .detail__item .detail__item-content .image {
        width: 20%;
        transition: all ease-in-out 0.3s; }
        .details .detail__content .detail__item .detail__item-content .image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: .5rem; }
      .details .detail__content .detail__item .detail__item-content .content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        color: #000;
        transition: all ease-in-out 0.3s; }
        .details .detail__content .detail__item .detail__item-content .content .headline {
          font-size: 4rem;
          color: #D23369; }
        .details .detail__content .detail__item .detail__item-content .content .detail {
          font-size: 1.5rem;
          line-height: 1.6; }
          .details .detail__content .detail__item .detail__item-content .content .detail span {
            font-weight: 600; }
    .details .detail__content .detail__item .detail__slide {
      position: relative;
      padding: 5rem 0; }
      .details .detail__content .detail__item .detail__slide .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        border: 1px solid #D23369;
        padding: .5rem;
        border-radius: .2rem;
        cursor: pointer;
        color: #D23369;
        transition: all ease-in-out 0.3s; }
        .details .detail__content .detail__item .detail__slide .slick-arrow:hover {
          transition: all ease-in-out 0.3s;
          background-color: #D23369;
          color: #fff; }
        .details .detail__content .detail__item .detail__slide .slick-arrow.slick-prev {
          left: -5%; }
        .details .detail__content .detail__item .detail__slide .slick-arrow.slick-next {
          right: -5%; }
      .details .detail__content .detail__item .detail__slide .slide__item {
        height: 30rem;
        margin: 0 1rem;
        padding: 3rem 0; }
        .details .detail__content .detail__item .detail__slide .slide__item img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .details .detail__content .detail__item .detail__slide .slide__item p {
          text-align: center;
          font-size: 1.4rem;
          padding: 1rem 0;
          font-style: italic;
          font-weight: 600; }
    .details .detail__content .detail__item .totnghiep__img {
      width: 70%;
      display: flex;
      margin: 0 auto;
      padding: 5rem 0; }
      .details .detail__content .detail__item .totnghiep__img .item img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .details .detail__content .detail__item .totnghiep__img .item p {
        text-align: center;
        font-weight: 600;
        font-size: 1.6rem;
        padding: 1rem 0;
        font-style: italic; }

.container {
  max-width: 1290px !important;
  margin: 0 auto; }

.totop {
  position: fixed;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  background-color: #000;
  border-radius: .2rem;
  z-index: 999;
  bottom: -10px;
  right: 10px;
  opacity: 0;
  transition: all ease-in-out 0.3s; }
  .totop a {
    color: #fff; }
  .totop.showUp {
    transition: all ease-in-out 0.3s;
    bottom: 10px;
    right: 10px;
    opacity: 1; }

/*# sourceMappingURL=index.css.map */
